#titulo_logo
{
	background-color: #32A922;
	border-radius: 50px;
	text-align: center;
	height: 125px;
	padding-right: 6%;
	padding-top: 0.5%;
}
#img_logo
{
	float: left;
	margin-left: 2%;
	margin-top: 0.5%;
}
ul
{
	background-color: #32A922;
	border-radius: 50px;
	width: 20%;
	text-align: center;
	list-style: none;
	padding-top: 0.5%;
	padding-bottom: 0.5%;
	height: 500px;
	float: left;
}
#articulos
{
	background: #298D1C;
	display: inline-block;
	width: 70%;
	border-radius: 50px;
	margin-top: 1%;
	text-align: center;
	padding-left: 2%;
	padding-right: 2%;
	padding-top: 0.5%;
	margin-left: 1%;
	height: 500px;
}
#img_articulo
{
	margin-top: 5%;
}
#footer
{
	background-color: #298D1C;
	text-align: center;
	height: 100px;
	border-radius: 50px; 
}
#footer_text
{
	padding-top: 2%;
}